<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>766550660103-9hlsc6rq2muq93661cgfjvntc7r34jfj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.766550660103-9hlsc6rq2muq93661cgfjvntc7r34jfj</string>
	<key>API_KEY</key>
	<string>AIzaSyBE8FIi3vxYD0t-DGi24gwjMzfSZDqZkwc</string>
	<key>GCM_SENDER_ID</key>
	<string>766550660103</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.honeyspot.app</string>
	<key>PROJECT_ID</key>
	<string>honeyspot-3c0ce</string>
	<key>STORAGE_BUCKET</key>
	<string>honeyspot-3c0ce.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<true/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:766550660103:ios:de6d7623e5956bf26c46a2</string>
	<key>DATABASE_URL</key>
	<string>https://honeyspot-3c0ce.firebaseio.com</string>
</dict>
</plist>
